@import "../../settings/settings.scss";

$cards_gap: 10px;

.FieldSection {
  display: flex;
  justify-content: center;
  height: calc(100vh - $header_height);

  .FieldSection_Cards {
    // margin-top: $header_height;
    padding: $header_height 0px;
    // background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: fit-content;
    gap: $cards_gap;
  }

  .OpenCardSection_Cover{
    cursor: default;
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    scale: 0;
    // background-color: rgba(0, 128, 0, 0.263);

    z-index: 200;
  }
}
